    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-xl">
            <a class="navbar-brand" href="~/Home/MainMenu">
                 <img alt="Центр дополнительного образования РЭУ им. Г.В. Плеханова"
                 data-src="https://ucmpt.ru/wp-content/uploads/2019/11/cropped-ПЛЕХАНОВА.jpg"
                 class="d-inline-block align-top" src="https://ucmpt.ru/wp-content/uploads/2019/11/cropped-ПЛЕХАНОВА.jpg">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample07XL" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/MainMenu">Главная <span class="sr-only">(текущая)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"href="~/Account/Autorise">Авторизация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Registration">Регистрация</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="*" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">Функиции</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown07XL">
                            <a class="dropdown-item" href="~/Editor/EditTableAttendance">Редактирование посещаемости</a>
                            <a class="dropdown-item" href="~/Editor/AddAttendance">Добавление записи в посещаемость</a>
                            <a class="dropdown-item" href="~/Editor/EditTablePayment">Редактирование реестра оплаты</a>
                            <a class="dropdown-item" href="~/Editor/AddPayment">Добавление записи в реестр оплаты</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Editor/ListListeners">Список слушателей</a>
                            <a class="dropdown-item" href="~/Editor/AddListeners">Добавление слушателя</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   